<% if logged_in? %>



	<div class="row">
		<aside class="col-md-4">
			<section class="user_info">
				<h1>
					<%= gravatar_for current_user %>	
					<%= display_name(current_user) %>
				</h1>
			</section>
			
			<% if @next_event.present? %>
				<section>

					<div id="camp_info">
				
						<p><strong>Camp Info</strong></p>
					
						<ul class="camp_info_side">
							<li>Address: <%= @next_event.camp_address %></li>
						</ul>
						
					</div>

					<div id="camp_organizer">
						<p><strong>Camp Organizer:</strong></p>
						
						<ul class="camp_info_side">
							<li>Camp Master</li>
							<li><%= mail_to "campmaster@flirtcampsf.com" %></li>
						</ul>
					</div>
					

					<div id="ea_team">
						
						<p><strong>EA Team:</strong></p>
						
						<ul class="camp_info_side">
							<li>
								<span id="camp_ea_date">EA Date: <%= @next_event.early_arrival_date.strftime("%B %e") %></span>
							</li>	
						
							<% if @next_event.early_arrival_list.any? %>
							
								<% @next_event.early_arrival_list .each do |ea| %>
									<%= content_tag(:li, display_name(ea.user)) %>
								<% end %>
							</ul>
						<% else %>
							None
						<% end %>
					
					</div>
				</section>
			<% end %>
			
			<div id="prev_years">

				<p><strong>Previous Years:</strong></p>
				
				<ul style="list-style-type: none; margin-left: 5px; padding: 2px;">
					<li>Coming Soon...</li>
				</ul>
			</div>
				

		</aside>
		<div class="col-md-8">


			<% if @next_event.present? %>
				<div class="event_user_header">
					<h1 class="text-left" style="padding-bottom: 0; margin-bottom: 0;"><%= @next_event.year %></h1>
					<h1 style="margin-bottom: 0; margin-top: 0;"><small><%= @next_event.theme %></small></h1>
					<h4><small><%= @next_event.start_date.strftime("%B %e") %> to <%= @next_event.end_date.strftime("%B %e") %></small></h4>
						
				</div>

				<div class="user_intention">
					<% if @intention.new_record? %>
						<%= render 'intentions/change_status' %>
					<% else %>

						

						<%= render "intentions/status", user: current_user %> <!-- , user: current_user %> -->
						<%= link_to "Edit your camp questionaire and status", edit_event_intention_path(@next_event, @intention), class: "btn btn-primary" %>
						<hr>

						<h3>Activites <span id="activity-count">(<%= @next_event.activities.size %>)</span><br>
						<small>Flirt Camp on-playa activities.</small></h3>
						<p class="help-block">Do you want to host an on-playa camp activity or a What-When-Where activity to get puclished in the book?</p>

						<%= link_to "View Activities", event_activities_path(@next_event), class: "btn btn-primary" %>

						<hr>
						<h3>Camp Roster<br>
						<small>Who is going to <%= @next_event.year %></small></h3>
						<% if User.attending_next_event.any? %>
							<% User.attending_next_event.each do |user| %>
								<%= link_to(gravatar_for(user, size: 50), user_path(user), 
								data: { toggle: "tooltip", placement: "left", title: display_name(user) }) %>
							<% end %>
						<% else %>
							<p>No one has responded yet.</p>
						<% end %>

						
					<% end %>
				</div>
			<% else %>

				<h3>No event scheduled</h3>
			<% end %>
		</div>
	</div>

<% else %>
	<div class="center jumbotron">
		<h1>Welcome to the Flirt Camp App!</h1>
		<h3>
			<small>Flirt Camp is a fun year-round community of folks, mainly from the SF Bay Area, who are committed to having extrodinary relationships and love Burning Man.</small>
		</h3>
	</div>

	<div class="row">
		<div class="col-md-4">
			<p class="lead">Join Flirt Camp</p>
			<p>Fill out our membership application and join us!</p>
		</div>
		
		<div class="col-md-4">
		
			<p class="lead">Need Access?</p>
			<p>Submit an your name and email and we will get you setup.</p>
		</div>


		<div class="col-md-4">
		
			<p class="lead">Sell your tickets!</p>
			<p>Have an extra ticket and want to sell it to a Flirt Camper?</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<%= link_to "Join Flirt Camp", new_member_app_path, class: "btn btn-primary btn-block" %>
		</div>
		
		<div class="col-md-4">
			<%= link_to "I am an existing member", new_existing_member_request_path, class: "btn btn-primary btn-block" %>
		</div>


		<div class="col-md-4">
			<%= link_to "Sell Your Ticket", '#', class: "btn btn-primary btn-block" %>
		</div>
	</div>

	<div id="home-next-event">
		<% if @next_event.present? %>
			<h1>
				<%= @next_event.year %>
			<br>	
			<small>Flirt Camp Address: <%= @next_event.camp_address %></small></h1>
			<% if @next_event.activities.any? %>
				<h3>Flirt Camp Activities:</h3>
				<div>
					<% @next_event.activities.order(:day,:time).each do |activity| %>
						<div class="row" id="home_activites_list">
							<%= content_tag(:div, "#{strf_day(activity.day)} @ #{strf_time(activity.time)}", class: "text-left col-md-3 col-md-offset-2") %>
							<%= content_tag(:div, "#{activity.title} with #{display_name(activity.user)}", class: "text-left col-md-5") %>
						</div>
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>


<% end %>

<%#= image_tag("flirt_camp.png", alt: "Flirt Camp logo", size: "60x80") %>