<% if logged_in? %>


  <%= render 'logged_in_home' %>


<% else %>

  <main>
    <section class="welcome">
      <div class="center"><!--  jumbotron"> -->
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <%= image_tag "lipstick-icon.png", class: "lipstick-icon" %>
              <div class='pad'>
                <%= link_to "Member Log In", login_path, class: "btn btn-primary btn-block btn-lg" %>
                <%= link_to "Member without an account? Register here.", new_existing_member_request_path, class: "btn btn-primary btn-block" %>
              </div>
            </div>
          </div>
        </div>
    </section>


    <section class="container">
      <div class="row home-actions">

        <% if @next_event %>
          <div class="col-md-6 col-sm-12 home-content">

            <p class="lead">Join Flirt Camp</p>

            <% if @next_event.accepting_apps %>
              <p>Fill out our membership application for Burning Man 2017!</p>
              <%= link_to "Apply to Join Flirt Camp", new_member_app_path, class: "btn btn-primary btn-block" %>
            <% else %>
              <p><strong>Flirt Camp is full for <%= @next_event.year %></strong></p>
              <p><small>Applications are closed.</small></p>
            <% end %>
          </div>



          <div class="col-md-6 col-sm-12 home-content">
            <% if @next_event %>

              <p class="lead">Sell your tickets!</p>
              <p>Have an extra ticket and want to sell it to a Flirt Camper?</p>
              <%= link_to "Sell Your Ticket", new_event_ticket_path(@next_event), class: "btn btn-primary btn-block" %>
            <% end %>
          </div>

        <% else %>
          <div class="col-md-12 col-sm-12 home-content">


              <p class="lead">Check back later for info on next years event!</p>


          </div>
        <% end %>

      </div>



      <div class="row" id="home-next-event">
        <div class="col-md-12">
          <% if @next_event.present? %>
            <h1>
              <%= @next_event.year %>
            <br>
            <small>Flirt Camp Address: <%= @next_event.camp_address %></small></h1>
            <% if @next_event.activities.any? %>
              <h3>Flirt Camp Activities:</h3>
              <div>
                <% @next_event.activities.order(:day,:time).each do |activity| %>
                  <div class="row" id="home_activites_list">
                    <%= content_tag(:div, "#{strf_day(activity.day)} @ #{strf_time(activity.time)}", class: "text-left col-md-3 col-md-offset-2") %>
                    <%= content_tag(:div, "#{activity.title} with #{display_name(activity.user)}", class: "text-left col-md-5") %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </section>
  </main>

<% end %>

<%#= image_tag("flirt_camp.png", alt: "Flirt Camp logo", size: "60x80") %>