<hr>

<h3>Transportation:</h3>
<p>Arrival date: <%= user.next_event_intention.arrival_date %></p>
<p>Departure date: <%= user.next_event_intention.departure_date %></p>
<p>I'm getting there by: <%= user.next_event_intention.transportation? ? user.next_event_intention.transportation.humanize : "Unknown" %></p>
<p>Seats available for carpool: <%= user.next_event_intention.seats_available %></p>

<hr>

<h3>Lodging:</h3>
<p>I'm sleeping in a: <%= user.next_event_intention.lodging? ? user.next_event_intention.lodging.humanize : "Unknown" %></p>
<p><strong># occupants in quarters:</strong> <%= user.next_event_intention.lodging_num_occupants %></p>

<h3>Yurt Owners:</h3>
<p><%= user.next_event_intention.yurt_owner? ? "I'm a yurt owner" : "I am NOT a yurt owner" %></p>
<p><%= user.next_event_intention.yurt_storage? ? "I am requesting yurt storage" : "I do not need yurt storage" %></p>
<p><%= user.next_event_intention.shipping_yurt? ? "I am requesting yurt shipping" : "I do not need yurt shipping" %></p>
<p>Yurt panel size: <%= user.next_event_intention.yurt_panel_size %></p>
<p>Yurt occupant: <%= user.next_event_intention.yurt_user %></p>

<hr>

<h3>Meals:</h3>
<p><%= user.next_event_intention.opt_in_meals? ? "I would like to partake in camp dinners" : "I do NOT want to partake in camp dinners"  %></p>
<p>Food restrictions: <%= user.next_event_intention.food_restrictions %></p>

<hr>

<h3>Logistics:</h3>
<p><strong># Bikes to ship:</strong> <%= user.next_event_intention.logistics_bike %></p>
<p><strong># Bins to ship:</strong> <%= user.next_event_intention.logistics_bins %></p>
<p>Things to get transported: <%= user.next_event_intention.logistics %></p>