<table class="table table-hover">
  <tbody>

    <% if user.next_event_intention.going? %>

      <tr>
        <td colspan="2"><h3>Transportation:</h3></td>
      </tr>
      <tr>
        <td><strong>Arrival date:</strong></td>
        <td><%= strf_day(user.next_event_intention.arrival_date) %></td>
      </tr>
      <tr>
        <td><strong>Departure date:</strong></td>
        <td><%= strf_day(user.next_event_intention.departure_date) %></td>
      </tr>
      <tr>
        <td><strong>I'm getting there by:</strong></td>
        <td><%= user.next_event_intention.transportation? ? user.next_event_intention.transportation.humanize : "Unknown" %></td>
      </tr>
      <tr>
        <td><strong>Seats available for carpool:</strong></td>
        <td><%= user.next_event_intention.seats_available %></td>
      </tr>

      <tr>
        <td><strong>Vehicle Type/Trailer Size</strong></td>
        <td><%= user.next_event_intention.vehicle_type %></td>
      </tr>
    <% end %>


    <% if user.next_event_intention.going? %>
      <tr>
        <td colspan="2"><h3>Lodging:</h3></td>
      </tr>
      <tr>
        <td><strong>I'm sleeping in a:</strong></td>
        <td><%= user.next_event_intention.lodging? ? user.next_event_intention.lodging.humanize : "Unknown" %></td>
      </tr>

      <tr>
        <td><strong>Footprint</strong></td>
        <td><%= user.next_event_intention.lodging_footprint %></td>
      </tr>

      <tr>
        <td><strong># occupants in quarters:</strong></td>
        <td><%= user.next_event_intention.lodging_num_occupants %></td>
      </tr>

    <% end %>

    <% if user.next_event_intention.present? %>

      <tr>
        <td colspan="2"><h3>Yurt Owner:</h3></td>
      </tr>
      <tr>
        <td><strong>Yurt owner?</strong></td>
        <td><%= user.next_event_intention.yurt_owner? ? "Yes" : "No" %></td>
      </tr>
      <tr>
        <td><strong>Yurt storage requested?</strong></td>
        <td><%= user.next_event_intention.yurt_storage? ? "Yes" : "No" %></td>
      </tr>

<!--       <tr>
        <td><strong>Yurt shipping requested?</strong></td>
        <td><%#= user.next_event_intention.shipping_yurt? ? "Yes" : "No" %></td>
      </tr> -->
      <tr>
        <td><strong>Yurt panel size:</strong></td>
        <td><%= user.next_event_intention.yurt_panel_size %></td>
      </tr>
      <tr>
        <td><strong>Yurt occupants:</strong></td>
        <td><%= user.next_event_intention.yurt_user %></td>
      </tr>

    <% end %>


    <% if user.next_event_intention.going? %>
      <tr>
        <td colspan="2"><h3>Meals:</h3></td>
      </tr>

      <tr>
        <td><strong>Food restrictions:</strong></td>
        <td><%= user.next_event_intention.food_restrictions %></td>
      </tr>

    <% end %>


    <% if user.next_event_intention.going? %>

      <tr>
        <td colspan="2"><h3>Logistics:</h3></td>
      </tr>
<!--       <tr>
        <td><strong># Bikes to ship:</strong></td>
        <td><%#= user.next_event_intention.logistics_bike %></td>
      </tr>
      <tr>
        <td><strong># Bins to ship:</strong></td>
        <td><%#= user.next_event_intention.logistics_bins %></td>
      </tr>

      <tr>
        <td><strong>Things to get transported:</strong></td>
        <td><%#= user.next_event_intention.logistics %></td>
      </tr> -->
      <tr>
        <td><strong>Interested in trailer/rental:</strong></td>
        <td><%= user.next_event_intention.interested_in_rental_van? ? 'Yes' : 'No' %></td>
      </tr>


    <% end %>
  </tbody>
</table>