<% if user.next_event_intention.going_has_ticket? || 
	  user.next_event_intention.going_needs_ticket? ||
	  user.next_event_intention.not_going_has_ticket? %>
<hr>

<h3>Tickets:</h3>
<p><strong>Ticket qty for sale?:</strong> <%= user.next_event_intention.tickets_for_sale %></p>

<% end %>


<% if user.next_event_intention.going_has_ticket? || 
	  user.next_event_intention.going_needs_ticket? %>

<hr>

<h3>Transportation:</h3>
<p><strong>Arrival date:</strong> <%= user.next_event_intention.arrival_date %></p>
<p><strong>Departure date:</strong> <%= user.next_event_intention.departure_date %></p>
<p><strong>I'm getting there by:</strong> <%= user.next_event_intention.transportation? ? user.next_event_intention.transportation.humanize : "Unknown" %></p>
<p><strong>Seats available for carpool:</strong> <%= user.next_event_intention.seats_available %></p>

<% end %>


<% if user.next_event_intention.going_has_ticket? || 
	  user.next_event_intention.going_needs_ticket? %>
<hr>

<h3>Lodging:</h3>
<p><strong>I'm sleeping in a:</strong> <%= user.next_event_intention.lodging? ? user.next_event_intention.lodging.humanize : "Unknown" %></p>
<p><strong># occupants in quarters:</strong> <%= user.next_event_intention.lodging_num_occupants %></p>

<% end %>

<% if user.next_event_intention.going_has_ticket? || 
	  user.next_event_intention.going_needs_ticket? || 
	  user.next_event_intention.not_going_has_ticket? || 
	  user.next_event_intention.not_going_no_ticket? %>
<hr>
<h3>Yurt Owner:</h3>
<p><%= user.next_event_intention.yurt_owner? ? "I'm a yurt owner" : "I am NOT a yurt owner" %></p>
<p><%= user.next_event_intention.yurt_storage? ? "I am requesting yurt storage" : "I do not need yurt storage" %></p>
<p><%= user.next_event_intention.shipping_yurt? ? "I am requesting yurt shipping" : "I do not need yurt shipping" %></p>
<p><strong>Yurt panel size:</strong> <%= user.next_event_intention.yurt_panel_size %></p>
<p><strong>Yurt occupant:</strong> <%= user.next_event_intention.yurt_user %></p>

<% end %>

<% if user.next_event_intention.going_has_ticket? || 
	  user.next_event_intention.going_needs_ticket? %>
<hr>

<h3>Meals:</h3>
<p><%= user.next_event_intention.opt_in_meals? ? "I would like to partake in camp dinners" : "I do NOT want to partake in camp dinners"  %></p>
<p><strong>Food restrictions:</strong> <%= user.next_event_intention.food_restrictions %></p>

<% end %>


<% if user.next_event_intention.going_has_ticket? || 
	  user.next_event_intention.going_needs_ticket? %>
<hr>

<h3>Logistics:</h3>
<p><strong># Bikes to ship:</strong> <%= user.next_event_intention.logistics_bike %></p>
<p><strong># Bins to ship:</strong> <%= user.next_event_intention.logistics_bins %></p>
<p><strong>Things to get transported:</strong> <%= user.next_event_intention.logistics %></p>

<% end %>
