<h1><%= @event.year %></h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">


		<%= form_for([@event, @intention]) do |f| %>
			
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :status %>
			<%= f.select :status, options_for_select(Intention.statuses.collect { |s| [s[0].humanize, s[0]]}, selected: @intention.status), {}, { class: "form-control"} %>

			<br>
			<h3>Tickets:</h3>
			<%= f.label :tickets_for_sale, "Ticket qty for sale?" %>
			<%= f.select :tickets_for_sale, 
				options_for_select(%w[0 1 2 3 4], 
					selected: @intention.tickets_for_sale), 
				{}, 
				class: "form-control" %>

			<br>
			<h3>Transportation:</h3>
			<%= f.label :transportation, "I'm getting there by:" %>
			<%= f.select :transportation, 
				options_for_select(Intention.transportations.collect { |s| [s[0].humanize, s[0]]}, 
					selected: @intention.transportation), 
				{include_blank: "Please select your transportation..."}, 
				class: "form-control" %>

			<%= f.label :arrival_date, "Arrival date:" %>
    		<%= f.select :arrival_date, 
    			options_for_select(Event.next_event.extended_date_range.map { |date| event_extended_date_select_formatter(@event, date) }, 
    				selected: @intention.arrival_date),
    			{include_blank: "Select arrival day"}, 
    			class: "form-control" %>
			
			<%= f.label :departure_date, "Departure date:" %>
    		<%= f.select :departure_date, 
    			options_for_select(Event.next_event.extended_date_range.map { |date| event_extended_date_select_formatter(@event, date) }, 
    				selected: @intention.departure_date), 
    			{include_blank: "Select departure day"}, 
    			class: "form-control" %>
			
			<fieldset style="border: 1px solid #bbb; padding: 15px; border-radius: 5px;">
				<legend style="padding-left:10px; border: 0px;"><h3><small>For Drivers Only:</small></h3></legend>
				<%= f.label :seats_available, "Seats available for carpool:" %>
				<%= f.select :seats_available, options_for_select(%w[0 1 2 3 4 5 6 7 8 9 10], selected: @intention.seats_available), {}, class: "form-control" %>
			</fieldset>


			<br>
			<h3>Lodging:</h3>
			<%= f.label :lodging, "I will staying in a:" %>
			<%= f.select :lodging, options_for_select(Intention.lodgings.collect { |s| [s[0].humanize, s[0]]}, selected: @intention.lodging), {include_blank: "Please select your lodging..."}, { class: "form-control"} %>

			<%= f.label :lodging_num_occupants, "with this many other:" %>
			<!-- <span class="help-block">Please have person from tent/yurt answer this</span> -->
			<%= f.select :lodging_num_occupants, options_for_select(%w[0 1 2 3 4 5 6 7 8 9 10], selected: @intention.lodging_num_occupants), {}, class: "form-control" %>
			
			<%= f.label :yurt_user, "Names/Playa Names of the folks staying in these accomodations this year:" %>
			<span class="help-block">These folks will be responsible for yurt storage fees for the year, if applicable.</span>
			<%= f.text_field :yurt_user, class: "form-control" %>


			<br>
			<h3>Yurt Owners:</h3>
			<%= f.label :yurt_owner, class: "checkbox" do %>
				<%= f.check_box :yurt_owner %>
				<span><strong>Check if you are the primary yurt owner</strong></span>
			<% end %>
				
			<fieldset style="border: 1px solid #bbb; padding: 15px; border-radius: 5px;">
				<legend style="padding-left:10px; border: 0px;"><h3><small>For Primary Yurt Owners Only:</small></h3></legend>
				<%= f.label :yurt_panel_size, "Yurt panel size (in inches)" %>
				<%= f.select :yurt_panel_size, options_for_select(%w[1 1.5 2 2.5 3], selected: @intention.yurt_panel_size), {include_blank: true}, class: "form-control" %>


				
				<%= f.label :shipping_yurt, class: "checkbox" do %>
					<%= f.check_box :shipping_yurt %>
					<span><strong>Check if you need to ship a yurt to the Playa</strong></span>
				<% end %>

				<%= f.label :yurt_storage, class: "checkbox" do %>
					<%= f.check_box :yurt_storage %>
					<span><strong>Check to request yurt storage</strong></span>
				<% end %>
			</fieldset>

			<br>
			<h3>Meals:</h3>

			<%= f.label :opt_in_meals, class: "checkbox" do %>
				<%= f.check_box :opt_in_meals %>
				<span>Check if you would like to be a part of our daily camp meal</span>
			<% end %>

			<%= f.label :food_restrictions, "Food restrictions" %>
			<%= f.text_area :food_restrictions, class: "form-control" %>
			
			<br>
			<h3>Logistics:</h3>
			<h3><small>For individuals, couples or groups. Get together with others to make sure this is filled out to the best of your knowledge and prevent overlapping information:</small></h3>
			<%= f.label :logistics_bike, "Number of bikes needed to get shipped?" %>
			<%= f.select :logistics_bike, options_for_select(%w[0 1 2 3 4], selected: @intention.logistics_bike), {}, class: "form-control" %>

			<%= f.label :logistics_bins, "Number of bins needed to get shipped?" %>
			<%= f.select :logistics_bins, options_for_select(%w[0 1 2 3 4 5 6 7 8 9 10], selected: @intention.logistics_bins), {}, class: "form-control" %>

			<%= f.label :logistics, "How many people are these logistics for, anything else that do you need transported and approx. size?" %>
			<%= f.text_area :logistics, class: "form-control" %>

			

<!-- 			<br>
			<h3>Storage:</h3>	

			<%#= f.label :storage_bikes, "Number of bikes needed to be stored?" %>
			<span class="help-block">Space will be VERY limited</span>
			<%#= f.select :storage_bikes, options_for_select(%w[0 1 2]), {}, class: "form-control" %> -->

			<br>
			<%= f.submit "Update", class: "btn btn-primary" %>

		<% end %>

	</div>
</div>