<% provide(:title, "Existing Member Request") %>

<h1>Flirt Camp Existing Member Request</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<%= form_for @existing_member_request, url: existing_member_requests_path do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :birth_name %>
			<%= f.text_field :birth_name, class: "form-control" %>

			<%= f.label :playa_name %>
			<%= f.text_field :playa_name, class: "form-control" %>

			<%= f.label :email %>
			<%= f.text_field :email, class: "form-control" %>

			<br>
			
			<%= f.submit "Submit Member Request", class: "btn btn-large btn-primary" %>
		
		<% end %>		
	</div>
</div>