<%= render 'shared/error_messages', object: @user %>

<%= hidden_field_tag :invite, @invite.id if @invite %>

<%= f.label :name %>
<%= f.text_field :name, class: "form-control" %>

<%= f.label :playa_name %>
<%= f.text_field :playa_name, class: "form-control" %>

<%= f.label :hometown, "Current Home Town" %>
<p class="help-block">City, State</p>
<%= f.text_field :hometown, class: "form-control" %>

<%= f.label :email %>
<% if @invite.present? %>
	<p class="form-static-control"><%= @invite.email %></p>
	<%= f.hidden_field :email, value: @invite.email %>
<% else %>
	<%= f.text_field :email, class: "form-control" %>
<% end %>

<%= f.label :phone %>
<%= f.phone_field :phone, class: "form-control" %>

<%= f.label :password %>
<%= f.password_field :password, class: "form-control" %>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation, class: "form-control" %>