
<div class="row users" id="user_id_<%= user.id %>">
  <div class="col-md-6">
    <div class="media" >
        <div class="media-left">
          <%= link_to((gravatar_for user, size: 100), user) %>
        </div>

        <div class="media-body" style="width: 100%;">
          <h4 class="media-heading"><%= link_to "#{user.playa_name} (aka #{user.name})", user %> <br>
            <small><%= user.hometown unless user.hometown.blank? %></small>
          </h4>



          <% if @next_event.nil? %>
          <!-- <span id="no-event">No event scheduled yet...</span> -->
        <% else %>
          <span id="intention_status_<%= user.id %>"><%= user.next_event_intention.nil? ?  "Not responded to #{@next_event.year}" : user.next_event_intention.status.humanize %></span><br>

          <% if user.next_event_early_arrival.present? %>
            <span id="ea_status_<%= user.id %>">Early Arrival : <%= user.next_event_early_arrival.ea_date %></span>
          <% end %>
        <% end %>

        <% if current_user.admin? && !current_user?(user) %>

          <div class="admin">
            <%= link_to "Notes", user_user_notes_path(user), class: "btn btn-default btn-xs" %>
            <%#= link_to "Update Intention", [:edit, @next_event, user.next_event_intention], class: "btn btn-success btn-xs" if @next_event %>


            <%= link_to "View application", edit_membership_application_path(user.membership_application), class:"btn btn-default btn-xs" if user.membership_application %>

            <div id="gg_user_<%= user.id %>">
              <% if user.added_to_google_group? %>
                <span class="label label-success">Google Group Member</span>
              <% else %>
                <%= form_for user, url: set_added_to_google_group_path(user), method: :patch, remote: true do |f| %>
                  <%= f.hidden_field :added_to_google_group, value: true %>
                  <%= f.submit "Addded to Google Group", class: "btn btn-warning btn-xs", style: "width: auto;" %>
                <% end %>
              <% end %>
            </div>

            <%= link_to "Delete", user, method: :delete, data: {confirm: 'Are you sure you want to delete this member?'}, class: "btn btn-danger btn-xs" %>
          </div>
        <% end %>

        </div>
    </div>

  </div>

  <div class="col-md-6">

      <% if @next_event.present? %>
      <% unless user.next_event_intention.nil?  %>
        <!-- Tickets for sale: <%#= user.next_event_intention.tickets_for_sale.to_i %> <br> -->
        <% if user.next_event_intention.going? %>

          <% if user.next_event_intention.arrival_date? %>
             Arrive <%= user.next_event_intention.arrival_date.strftime("%b %e") %> <%= "from #{user.hometown}" unless user.hometown.blank? %><br>
          <% end %>
          <% if user.next_event_intention.departure_date? %>
             Depart <%= user.next_event_intention.departure_date.strftime("%b %e") %> <%= "to #{user.hometown}" unless user.hometown.blank? %><br>
          <% end %>

          <% unless user.next_event_intention.transportation.nil? %>
            Tranportation: <%= user.next_event_intention.transportation.humanize %><br>
          <% end %>

          <% if user.next_event_intention.driving? %>
            Carpoool: <%= pluralize(user.next_event_intention.seats_available, "seat") %> available <br>
          <% end %>
          <% if user.next_event_intention.yurt_owner %>
            <strong>Yurt Owner</strong><br>
            Yurt occupant: <%= user.next_event_intention.yurt_user %> <br>
          <% end %>


        <% end %>

      <% end %>
    <% end %>

  </div>
</div>




