<% provide(:title, @subtitle) %>

	<div style="padding: 20px 0;">
		<%= form_tag users_path, method: :get, class: "form-inline pull-right" do %>
			<div class="form-group">
				<%= text_field_tag :q_name, params[:q_name], placeholder: "Search Members", class: "form-control input-sm" %>
			
			</div>
			<%= submit_tag "Search", class: "btn btn-primary btn-sm", style: "width: auto;" %>
			<%= link_to "Reset", users_path, class: "btn btn-danger btn-sm" %>
			
		<% end %>
	</div>


<%= link_to "All Flirt Camp Members", users_path, class: "btn btn-info" %>

<% if @next_event %>
	<div class="member_search">
		<strong><%= @next_event.year %>:</strong><br>
		<%= link_to "Attending", users_path(q: :attending_next_event) %> | 
		<%= link_to "Not Attending", users_path(q: :not_attending_next_event) %>  | 
		<%= link_to "Not Responded", users_path(q: :not_responded_to_next_event) %> | 
	<!-- </div>
	<div class="member_search"> -->
		<%= link_to "Has Ticket", users_path(q: :has_ticket_to_next_event) %>  | 
		<%= link_to "Needs Tickets", users_path(q: :needs_ticket_to_next_event) %> | 
		<%= link_to "Drivers", users_path(q: :driving_to_next_event) %>  | 
		<%= link_to "Early Arrival", users_path(q: :early_arrivals_next_event) %>
	</div>




<% end %>




<h2><%= @subtitle %></h2>

<%= will_paginate %>

<!-- <ul class="users no-styling"> -->
	<%= render @users %>
<!-- </ul> -->

<%= will_paginate %>