<% provide(:title, @user.playa_name) %>

<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= gravatar_for @user %>	
				<%= @user.playa_name %>
			</h1>
		</section>
	</aside>
	<div class="col-md-8">

		<% if logged_in? and admin_user? %>
			<div class="admin">
				<h3>Admin</h3>

				<% if @user.ea_exists?(@next_event) %> 
					<%= form_for([@next_event, @next_event.early_arrivals.find_by(user_id: @user.id)], html: {method: :delete}) do |f| %>
						<%#= f.hidden_field :user_id, value: @user.id %>
						<%= f.submit "Unassign from Early Arrival", class: "btn" %>
					<% end %>
				<% else %>
					<%= form_for([@next_event, @next_event.early_arrivals.build]) do |f| %>				
						<%= f.hidden_field :user_id, value: @user.id %>
						<%= f.submit "Assign to Early Arrival", class: "btn btn-primary" %>
					<% end %>
				<% end %>

			</div>

		<% end %>

		<% if @next_event.present? %>
			<% if @user.next_event_intention.new_record? %>
				<h3>Not responded yet...</h3>
			<% else %>
				<%= render "intentions/status", user: @user %>
				<%= render "intentions/intention", user: @user %>
			<% end %>
		<% end %>
	</div>
</div>



