<% if event.archive %>

  <p>
    <%= link_to edit_event_path(event), class: "btn btn-primary btn-block" do %>
      Archived: <%= event.year %>
    <% end %>
  </p>

<% else %>

  <div class="panel panel-default" id="event_id_<%= event.id %>">
    <div class="panel-heading">
      <h3 class="panel-title"><%= event.year %></h3>
    </div>

    <div class="panel-body">

      <p class="bg-<%= event.camp_closed ? "danger" : "success" %>" style="padding: 10px 15px;">
        Camp <%= event.camp_closed ? "CLOSED" : "OPEN" %>
      </p>

      <p class="bg-<%= event.accepting_apps ? "success" : "danger" %>" style="padding: 10px 15px;">
        Applications are <%= event.accepting_apps ? "OPEN" : "CLOSED" %>
      </p>

      <div class="col-md-5">

          <p><%= link_to "EA Team", event_early_arrivals_path(event), class: "btn btn-default btn-sm btn-block" %></p>
          <p><%= link_to "Meal Menu", '#', class: "btn btn-default btn-sm btn-block" %></p>
          <p><%= link_to "Activities", event_activities_path(event), class: "btn btn-default btn-sm btn-block" %></p>
          <p><%= link_to "Camp Dues Overview", camp_dues_overview_event_path(event), class: "btn btn-default btn-sm btn-block" %></p>
          <p><%= link_to "Storage Tenents", event_storage_tenents_path(event), class: "btn btn-default btn-sm btn-block" %></p>
          <p><%= link_to "Download Food Restrictions", food_restrictions_users_path(event, format: "csv"), class: "btn btn-default btn-sm btn-block" %></p>
          <p><%= link_to "Download Camp Member Contact List", users_path(format: "csv"), class: "btn btn-default btn-sm btn-block" %></p>
          <p><%= link_to "Download camper aquaintences", camper_aquaintences_users_path(format: 'csv'), class: "btn btn-default btn-sm btn-block" %></p>

      </div>
        <div class="col-md-offset-3 col-md-4">

          <p><%= link_to "Edit Event", edit_event_path(event), class: "btn btn-primary btn-block" %></p>

          <p><%= link_to "Remove event", event_path(event), class: "btn btn-danger btn-block", method: :delete, data: { confirm: "Are you sure you want to remove this event and all associated records?"} %></p>

      </div>
    </div>
  </div>

<% end %>