<% provide(:title, "Camp Dues Overview") %>

<h1>Camp Dues Overview</h1>
<h1><small><%= @event.year %></small></h1>

<% if @users.any? %>

	<table class="table">
		<thead>
			<th>User</th>
			<th>Dues</th>
			<th>Payments</th>
			<th>Balance</th>
			<th></th>
			<td>Dues Last Sent</td>
		</thead>
		<tbody>

			<% @users.each do |user| %>
				<%= content_tag(:tr, id: "user_id_#{user.id}") do %>
					<%= content_tag(:td, user.name) %>
					<%= content_tag(:td, number_to_currency(user.sum_camp_dues, precision: 0)) %>
					<%= content_tag(:td, number_to_currency(user.sum_next_event_payments, precision: 0)) %>
					<%= content_tag(:td, number_to_currency(user.next_event_camp_dues_balance, precision: 0)) %>
					<td>
						<%= link_to "Add Payment", new_user_payment_path(user) %> | 
						<%= link_to "View Breakdown", user_payments_path(user) %> | 
						<%= link_to "Send Dues Email", camp_dues_notification_user_path(user) %>
					</td>
					<%= content_tag(:td, user.next_event_intention.dues_last_sent.nil? ? "NA" : user.next_event_intention.dues_last_sent.strftime("%a, %b %-e")) %>
				<% end %>
			<% end %>
		</tbody>
	</table>
<% else %>
	<strong>No one is going yet.</strong>
<% end %>