<tr class="<%= "success" if invitation.replied? %>">
	<td><%= invitation.name %></td>
	<td><%= invitation.email %></td>
	<td><%= invitation.created_at %></td>

	<% if invitation.replied? %>
		<td><span class="label label-success">Yes</span></td>
		<td></td>
	<% else %>
		<td><span class="label label-warning">No</span></td>
		<td><%= link_to "Resend Invite", resend_invitation_path(invitation), class: "btn btn-primary btn-xs" %></td>
	<% end %>	
</tr>