

<h1>Yurt Owners / Storage</h1>
<h1><small><%= @event.year %></small></h1>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		

		<% if @tenents.any? %>
			<h4>Total: <%= @tenents.count %></h4>
			<table class="table">
				<thead>
					<th>Name</th>
					<th>Panel Size</th>
					<th>Shipping Requested</th>
					<th>Storage Requested</th>
					<th>Tenant After Event</th>
					<th>Due</th>
				</thead>
				<tbody>
					<% @tenents.each do |tenent| %>
						<tr>
							<td><%= tenent.user.name %></td>
							<td><%= tenent.yurt_panel_size %></td>
							<td><%= tenent.shipping_yurt? ? "Yes": "No" %></td>
							<td><%= tenent.yurt_storage? ? "Yes" : "No" %></td>
							<td><%= tenent.storage_tenent? ? "Yes" : "No" %></td>
							<td><%= number_to_currency(tenent.storage_amount_due, precision: 0) %></td>

						</tr>
					<% end %>

					<tr class="table-totals">
						<td></td>
						<td></td>
						<td><strong><%= @event.count_yurts_to_ship %></strong></td>
						<td><strong><%= @event.count_yurt_storage_requested %></strong></td>
						<td><strong><%= @event.count_storage_tenants %></strong></td>
						<td><strong><%= number_to_currency(@event.sum_storage_dues, precision: 0) %></strong></td>
					</tr>
				</tbody>
			</table>	
		<% else %>
			<strong>No tenents assigned</strong>

		<% end %>

	</div>
</div>