<h1>Listing Activities</h1>
<h1><small><%= @event.year %></small></h1>

<table class="table">
  <thead>
    <tr>
      <th width="10%"></th>
      <th>Title</th>
      <th>Time</th>
      <th>Creator</th>
      <th>Publish</th>
      <th colspan="2"></th>
    </tr>
  </thead>

    <tbody>

        <% @event.date_range.each do |date| %>
            <div id="event_date_<%= date %>">
                <tr><td colspan="7"><h4><%= strf_day(date) %></h4></td></tr>

                <% @activities.each do |activity| %>
                    <% if activity.day == date %>
                        <tr id="activity_id_<%= activity.id %>">
                        <td></td>
                        <td><strong><%= link_to activity.title, [@event, activity] %></strong></td>
                        <!-- <td><%#= strf_day(activity.day) %></td> -->
                        <td><%= activity.time_range %></td>
                        <td><%= display_name(activity.user) %></td>
                        <td><%= activity.publish? ? "Yes" : "No" %></td>


                        <% if logged_in? && ( current_user?(activity.user) || admin_user? ) %>
                        <td><%= link_to 'Edit', edit_event_activity_path(@event, activity) %></td>
                        <td><%= link_to 'Remove', [@event, activity], method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %>

                        </tr>
                    <% end %>
                <% end %>

            </div>
        <% end %>

    </tbody>
</table>

<br>

<%= link_to 'New Activity', new_event_activity_path(@event), class: "btn btn-primary" %>
